<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>

<form method="post" action="/adauga">
    Titlu<input type="text" name="titlu" id="titlu"/><br/>
    Autori<input type="text" name="referenti" id="referenti"/><br/>
    Anul de aparitie<input type="text" name="anAparitie" id="anAparitie"/><br/>
    Cuvinte cheie<input type="text" name="cuvinteCheie" id="cuvinteCheie"/><br/>
    <input type="submit" id="addButtonFuckSerenity"/>
</form>

</br></br>

<ul>
    <li th:each="carte : ${carti}">
        <div th:text="${carte.titlu}" th:id="${carte.titlu}"></div>
        <div th:text="${carte.referenti}"></div>
        <div th:text="${carte.anAparitie}"></div>
        <div th:text="${carte.cuvinteCheie}"></div>
    </li>

</ul>

</body>
</html>